<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
		<add key="mongodbconectionstring" value="mongodb://admin:admin@localhost/"/>
		<add key="dbname" value="shoestoredb"/>
	</appSettings>-->
	<appSettings>
		<add key="mongodbconectionstring" value="mongodb://localhost/"/>
		<add key="dbname" value="shoestoredb"/>
		
		<add key="jasperurl" value="http://localhost:8080/jasperserver/rest_v2/reports/Reports/FacturaReport2"/>
		<add key="jasperuser" value="jasperadmin"/>
		<add key="jasperpswd" value="bitnami"/>


		<add key="smtpEmail" value="mcristeamailing@gmail.com"/>
		<add key="smtpPassword" value="hhhi clhc uuog pmeo"/>
		<add key="smtpServer" value="smtp.gmail.com"/>
		<add key="smtpPort" value="587"/>
	</appSettings>
</configuration>